<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">u
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/css?family=Atma|Black+And+White+Picture|Indie+Flower|Patrick+Hand" rel="stylesheet">
	<link rel="stylesheet" href="listing.css">
	<title>Homework Bot</title>
</head>
<body>

	<section id="Features">
		<div class="container">
    <img src="./images/bot4.png">
		<center>
			<h1>Homework listing</h1>
			<table>
  <tr>
    <th>Deadline</th>
    <th>Homework</th>
    <th>Status</th>
		<th>Status change</th>
  </tr>
  <tr>
    <td>24.12.</td>
    <td>Be nice</td>
    <td>false</td>
		<td><input type="button" value="Done" onclick="exeDone()"></td>
  </tr>
  <tr>
    <td>22.12.</td>
    <td>Prepare the gifts</td>
    <td>false</td>
		<td><input type="button" value="Done" onclick="exeDone()"></td>
  </tr>
  <tr>
    <td>15.12.</td>
    <td>Send the Xmas greetings</td>
    <td>false</td>
		<td><input type="button" value="Done" onclick="exeDone()"></td>
  </tr>

</table>
		</center>
		</div>
	</section>

	<footer>
		<p>Homework Bot &copy;2018</p>
	</footer>
</body>
</html>
