<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">u
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/css?family=Atma|Black+And+White+Picture|Indie+Flower|Patrick+Hand" rel="stylesheet">
	<link rel="stylesheet" href="style_2.css">
	<title>Homework Bot</title>
</head>
<body>

	<section id="Features">
		<div class="container">
    <img src="./hproject/images/bot4.png">
		<center>
			<form name="form">

				<div class="form-input">
					<input id="user" type="text" name="username" value="" placeholder="user">
				</div>

				<div class="form-input">
					<input id="password" type="password" class="form-control" name="password" placeholder="password">
				</div>

				<div class="form-input">
						<button type="submit" href="#" class="loginbutton">Log in</button>
				</div>

				<div class="checkbox-login">
					<label>
						<input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
					</label>
					<a href="#" class="login-forgot">Forgot Username/Password?</a>
				</div>

			</form>
		</center>
		</div>
	</section>

	<footer>
		<p>Homework Bot &copy;2018</p>
	</footer>
</body>
</html>
