<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title><%= title %></title>
		<link rel="stylesheet" href="/style/style.css">
	</head>
	<body>
		<main>
			<h1><%= header %></h1>
			<form class="" action="<%= action %>" method="post">
				<p>
					<label for="homeworkId">Homework Id: </label>
					<input type="text" name="homeworkId" id="homeworkId" size="5">
				</p>
				<button type="submit" name="button">Submit</button>
			</form>
			<a href="/"><button type="button" name="button">Menu</button></a>
		</main>
	</body>
</html>
