<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
  <title>Homeworks</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="styles/login.css" type="text/css">
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
</head>
<body>

  <div class="container" >
    <img src="styles/face.jpg">

    <form name="form">

      <div class="form-input">
        <input id="user" type="text" name="username" value="" placeholder="user">
      </div>

      <div class="form-input">
        <input id="password" type="password" class="form-control" name="password" placeholder="password">
      </div>

      <div class="form-input">
        <!-- Button -->
          <button type="submit" href="#" class="loginbutton">Log in</button>
      </div>
      <div class="checkbox-login">
        <label><input type="checkbox"/>Remember Me</label>
        <a href="#" class="login-forgot">Forgot Username/Password?</a>
      </div>

    </form>
  </div>
</body>
</html>
